.divider {
    width: 285px;
    background-color: #22A4EE;
    height: 13px;
}

.container {
    margin:auto;
    max-width: 1360px;
    margin-bottom: 0;
    padding: 1rem;
    overflow: hidden; /* Added to stop off canvas animation causing overflow on mobile*/
}

.cards {
    display: grid;
    grid-template-columns: none;
    grid-gap:29px;
    margin-top:2rem
}

.card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 15px #828a94; 
}

.card img {
    border-radius: 10px;
}

.card-tag {
    position: absolute;
    min-width:130px;
    top: 20px;
    right: 0;
    padding: 0.1rem 0.5rem;
    background-color: #0C4F75;
    color: #fff;
    z-index:1;
    letter-spacing: 0.007rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    }
 }

