.divider {
    width: 285px;
    background-color: #22A4EE;
    height: 13px;
}

.container {
    margin:auto;
    max-width: 1360px;
    margin-bottom: 2rem;
    padding: 1rem;
    overflow: hidden; /* Added to stop off canvas animation causing overflow on mobile*/
}

.container h2:first-child {
    margin-top: 1.5rem;
}

.container h2 {
    margin-top: 2.5rem;
}

.container p {
    max-width: 560px;
}

.contact-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.contact-container .intro {
    padding: 2rem;
    background-size: cover;
    color: #fff;
}

.contact-container .form {
    background-color: #22A4EE;
    padding: 2rem;
}

.contact-container label {
    color: #fff;
    font-size: 0.8003em;
}

.contact-container .form input, textarea {
    border:none;
    padding: 0.5rem
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(133, 133, 133);
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: rgb(133, 133, 133);
  }
  
  ::placeholder {
    color:  rgb(133, 133, 133);
  }



.contact-container .form input[type=submit]{
    width: 200px;
    padding: 0.5rem;
    border-radius: 50px;
    border: none;
    color: #22A4EE;
    font-weight: 800;
    transition: 0.3s;
    line-height: 2rem;
}

.contact-container .form input[type=submit]:hover{
   background-color: hsl(202, 86%, 43%);
    cursor: pointer;
    color: #fff;
}

.contact-container .form .section{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-container .form .section:last-of-type{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}


.contact-container .form form{
    display: flex;
    flex-direction: column;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .contact-container .intro {
        padding: 3rem;
    }
    
    .contact-container .form {
        padding: 3rem;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    
}