@font-face{
    font-display: swap;
}

*, img {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #ECF6FF;
}

h2 {
    font-size:2.5rem
}


.header-container {
    background-size: cover;
    padding-bottom: 6rem;
    position: relative;
    margin-bottom: 1rem;
    z-index:200
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .header-container {
        padding-bottom: 12rem;
    }

}